<nav class="menu" tabindex="0" >
        <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <img src="../../../../assets/imgdiseño/user.png" alt="">
        <h2>usuario.</h2>
      </header>
        <ul>
        <li tabindex="0" class="icon-dashboard" routerLink="/DashProduccion"><span >Estadisticas</span></li>
        <li tabindex="0" class="icon-customers" routerLink="/OrdenProduccion"><span>Orden de Diseño</span></li>
        
        <!-- <li tabindex="0" class="icon-settings"><span>Settings</span></li> -->
        <!-- <li tabindex="0" class="icon-customers" >
        <div class="sub">
            <label for="touch"><span>Insumos</span></label>               
            <input type="checkbox" id="touch"> 
          
            <ul class="slide">
              <li><a href="/telas">Tela</a></li> 
              <li><a href="/reatas">Reata</a></li>
              <li><a href="/hilos">Hilo</a></li>
              <li><a href="/botones">Boton</a></li>
              <li><a href="/etiquetas">Etiqueta</a></li>
            </ul>
        </div>
          
    
        </li> -->
      </ul>
    </nav>
    