<header>
        <nav class="menuCSS3">
                <ul>
                    <li ><a href="/inicio" >Inicio</a></li>
                    <li ><a >Inventario</a>
                        <ul>
                                <a href="/Telas" ><li>Telas</li> </a>
                                <a href="" ><li>Botones</li></a>
                                <a href="" ><li>Hilos</li></a>
                                <a href="" ><li>Etiquetas</li></a>
                        </ul>
                    </li>
                    <li ><a>Productos</a>
                        <ul>
                                <a href="" ><li>Camisas</li></a>
                                <a href="" ><li>Pantalones</li></a>
                        </ul>
                    </li>
                    <li ><a href="/login" >Salir</a></li>
                </ul>
            </nav>
</header>
        
