<body>
        <app-navbar></app-navbar>
        <app-sidebar></app-sidebar>
        <div id="general">
                <body>
                        <div>
                                <table class="table table-1">
                                    <thead *ngFor="let item of table_header">
                                        <th>{{item.id}}</th>
                                        <th>{{item.nombre}}</th>
                                        <th>{{item.caracteristica}}</th>
                                    </thead>
                        
                                    <tbody>
                                        <tr *ngFor="let item of respuesta">
                                                <th>{{item.id}}</th>
                                                <th>{{item.nombre}}</th>
                                                <th>{{item.caracteristica}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                </body>
                
        </div>
    
    </body>