<body>
    
	<div class="contened">
        <div id="titulo">
                <p id="header">Indutexco</p>
                <p id="subheader"></p>	
            </div>
        
            <header>
                
                <div class="contenedor" id="uno" routerLink="/principal">
                    <img class="icon" src="../../assets/pictures/icon1.png">
                    <p class="texto">Inicio</p>
                </div>
        
                <div class="contenedor" id="dos">
                    <img class="icon" src="../../assets/pictures/icon2.png">
                    <p class="texto">Diseño</p>
                </div>
        
                <div class="contenedor" id="tres"  >
                    <img class="icon" src="../../assets/pictures/icon6.png">
                    <p class="texto">Produccion</p>
                </div>
                <div class="contenedor" id="cuatro"  routerLink="/login" >
                    <img class="icon" src="../../assets/pictures/exit.png">
                    <p class="texto">Salir</p>
                </div>
        
               
        
            </header>
</div>
   
</body>