<app-header-inventario></app-header-inventario>
<body>
        <div>
                <table class="table table-1">
                    <thead *ngFor="let item of table_header">
                        <th>{{item.id}}</th>
                        <th>{{item.nombretela}}</th>
                        <th>{{item.textura}}</th>
                        <th>{{item.colortela}}</th>
                        <th>{{item.diseno}}</th>
                        <th>{{item.idmaterialtela}}</th>
                        <th>{{item.idproveedor}}</th>
                    </thead>
        
                    <tbody>
                        <tr *ngFor="let item of respuesta">
                       <th>{{item.id}}</th>
                        <th>{{item.nombretela}}</th>
                        <th>{{item.textura}}</th>
                        <th>{{item.colortela}}</th>
                        <th>{{item.diseno}}</th>
                        <th>{{item.idmaterialtela}}</th>
                        <th>{{item.idproveedor}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>    
</body>
