<body>
    <div>
        <select id="" values="Buscar por">
            <option value="telas">
                <a href="">telas</a>
            </option>
            <option value="hilos">
                    <a href="">botones</a>
            </option>
            <option value="">
                    <a href="">reatas</a>
            </option>
            <option value="">
                    <a href="">hilos</a>
            </option>
        </select>
    </div>




    
    <div>
        <table class="table table-1">
            <thead *ngFor="let item of table_header">
                <th>{{item.id}}</th>
                <th>{{item.nombre}}</th>
                <th>{{item.textura}}</th>
                <th>{{item.idcolortelas}}</th>
                <th>{{item.iddisenotela}}</th>
                <th>{{item.idmaterialtela}}</th>
                <th>{{item.idproveedor}}</th>
            </thead>

            <tbody>
                <tr *ngFor="let item of respuesta">
               <th>{{item.id}}</th>
                <th>{{item.nombre}}</th>
                <th>{{item.textura}}</th>
                <th>{{item.idcolortela}}</th>
                <th>{{item.iddisenotela}}</th>
                <th>{{item.idmaterialtela}}</th>
                <th>{{item.idproveedor}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</body>